
:root{
    /* Fonts */
    --ff-mali :  'Mali', cursive;
    --ff-noto :  'Noto Sans', cursive;

    /* Couleurs */
    --black-2 : #282828;
    --vert-ciel : HSL(126, 33%, 80%); 
    --noir-violet : HSL(145, 61%, 69%); 
    --jaune-pur : #e3892b; 
    --black : HSL(210, 29%, 13%); 
    --gray : HSL(0, 0%, 62%,1); 
    --orange : darksalmon;
    --white : HSL(63, 0%, 100%);
    --red : #e32b5d;

    /* Tailles */
    --fs-1: 4.8rem;
    --fs-2: 4rem;
    --fs-3: 3.4rem;
    --fs-4: 2.4rem;
    --fs-5: 2rem;
    --fs-6: 1.8rem;
    --fs-7: 1.5rem;
    --fs-8: 1.4rem;
    --fs-9: 1.3rem;
    --fs-10: 1.1rem;
    --fs-11: 1.0rem;
    --fs-12: 0.5rem;

    /* font weight */
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    /*border*/
    --border-radius-md : 40px;
    --border-radius-sm : 20px;
    --border-radius-xm : 10px;
}
